@import "../styles/variables.scss";

@mixin default-transition($property) {
  transition: $property 0.08s ease-in-out;
}

@mixin default-font() {
  font-family: 'PT Root UI', sans-serif;
}

@function toRem($size) {
  $remSize: $size / $rootFontSize;
  @return #{$remSize}rem;
}
