$rootFontSize: 16px;
$defaultFont: 'PT Root UI';

$textColor: #000000;
$textHeaderColor: #E63838;

$cardColor: #DCDCDC;
$cardHoverColor: #D6D6D6;
$cardActiveColor: #F0D6D6;

$borderColor: #00000066;
$borderHoverColor: #F5A2A2;
$borderActiveColor: #FFA600;

